<div class="footer">
  <nav class="navbar navbar-default navbar-inverse" role="navigation" style="background-color: #010B40;">
    <div class="text-center p-1" style="margin-left: 12%;">
      <h6 class="text-uppercase fw-bold mb-2" style="font-size: 100%; color: white;">
        NOSSAS REDES SOCIAIS
      </h6>
      <div class="icones">

            <i class="bi bi-facebook" style="margin-left: 5%;"></i>
            <i class="bi bi-whatsapp" style="margin-left: 15%;"></i>
            <i class="bi bi-instagram" style="margin-left: 15%;"></i>
            <i class="bi bi-youtube" style="margin-left: 15%;"></i>

      </div>
    </div>
  </nav>
</div>

